#tabAtelier {
	.menu {
		position: absolute;
		top: 7px;
		width: 150px;
		background-color: $color_gris3;
		height: 100%;
		padding: 15px;
		overflow-y: auto;

		.item {
			color: $color_blanc;
			margin: auto;
			padding: 0 5px;
			width: 75px;
			height: 75px;
			border: 1px double $color_gris5;
			border-radius: 3px;
			cursor: -webkit-grab;
			margin-bottom: 3px;

			&:focus {
				outline: $color_bleu_clair auto 5px;
				outline-offset: -2px;
			}

			& > span {
				display: block;
				padding-top: 30%;
				text-align: center;
			}
		}
	}

	.atelier-content {
		left: 150px;
		width: calc(100% - 150px);

		.atelier-page {
			margin: 50px 50px 10px 50px;
			min-height: 400px;
			width: calc(100% - 100px);
			background-color: $color_blanc;
			box-shadow: 0 3px 10px 0 $color_noir_alpha_20;
			padding: 15px;
			border-radius: 3px;

			.dropbag {
				border: 1px solid $color_bleu1;
				min-height: 30px;
				width: 100%;
				background-color: $color_blanc;
				margin: 3px 0;
				padding: 0 15px;
				border-radius: 3px;
				text-align: center;

				&.dragover {
					outline: $color_bleu1 auto 5px;
					outline-offset: -2px;

					&:before {
						content: "Déposer l'élément ici";
						text-align: center;
						display: block;
						padding-top: 5px;
						font-weight: bold;
						color: $color_gris_border;
					}
				}
			}

			.page-line {
				height: 40px;
				padding: 2px 15px 0 15px;
				border-radius: 5px;

				button {
					display: none;
				}
				&:hover,
				&:focus {
					background-color: #f0f0F0;

					button {
						display: inline;
					}
				}
				.text {
					display: inline-block;
					padding-top: 4px;
					padding-left: 9px;
					vertical-align: middle;
				}
				[class^='ui-'] {
					display: inline-block;
					width: 28px;
					height: 28px;
					border: 1px solid #333;
					border-radius: 100px;
					box-shadow: 0 1px 3px #333;
					padding-top: 4px;
					vertical-align: middle;
					margin-top: 3px;
				}
				.ui-INPUT {
					background-color: $color_orange;

					&:before {
						content: "In";
						position: relative;
						left: 8px;
						top: -1px;
						text-align: center;
					}
				}
				.ui-CHECK {
					background-color: $color_orange;

					&:before {
						content: "Ch";
						position: relative;
						left: 5px;
						top: -1px;
						text-align: center;
					}
				}
				.ui-RADIO {
					background-color: $color_orange;

					&:before {
						content: "Ra";
						position: relative;
						left: 5px;
						top: -1px;
						text-align: center;
					}
				}
				.ui-SELECT {
					background-color: $color_orange;

					&:before {
						content: "Se";
						position: relative;
						left: 5px;
						top: -1px;
						text-align: center;
					}
				}
				.ui-TEXTAREA {
					background-color: $color_orange;

					&:before {
						content: "Tx";
						position: relative;
						left: 6px;
						top: -1px;
						text-align: center;
					}
				}
				.ui-TEXTE-STATIC {
					background-color: $color_orange;

					&:before {
						content: "St";
						position: relative;
						left: 7px;
						top: -1px;
						text-align: center;
					}
				}
				.ui-TITRE {
					background-color: $color_rose;

					&:before {
						content: "H";
						position: relative;
						left: 8px;
						top: -1px;
						text-align: center;
					}
				}
				.ui-PARA-GRAPH {
					background-color: $color_violet;

					&:before {
						content: "P";
						position: relative;
						left: 8px;
						top: -1px;
						text-align: center;
						color: $color_blanc;
					}
				}
			}
		}
	}
}
