.loader {
	position: absolute;
	z-index: 1000;
	background-color: rgba(0,0,0,0.5);
	background-image: url(images/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	text-align: right;
	color: $color_bleu_clair;
	font-weight: bold;
	padding-top: 12px;
	padding-right: 5px;
	.progressbar {
		position: absolute;
		top: 10%;
		left: 0;
		display: block;
		height: 80%;
		background-color: rgba(200,200,200,.3);
		box-shadow: inset -100px 0 100px rgba(200, 200, 200, 0.3);
		border-radius: 0 5px 5px 0;
	}
	.loader-etape {
		font-weight: normal;
		color: $color_blanc;
		position: absolute;
		bottom: 0;
		right: 5px;
		font-size: 12px;
	}
}
