// Couleurs
$color_indigo: #362D8C;
$color_orange: #D76500;
$color_violet: #5F48A2;
$color_rose: #DA4FA0;
$color_bleu1: #4D96D2;
$color_emeraude: #336A6D;
$color_rouge: #FF2700;
$color_bleu2: #4D96D2;
$color_blanc: #FFFFFF;
$color_gris_blanc: #EFEFEF;
$color_gris_border: #DDD;
$color_bleu_clair: #6FB8F4;
$color_noir: #000;
$color_noir_alpha_20: rgba(0,0,0,0.2);
$color_gris3: #333;
$color_gris5: #555;
